*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height:100vh;
    background: rgb(227, 220, 220);
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width:200px;
}